name: check Spotify MS

on:
  schedule:
    - cron: '0 */5 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: run ms-spotify-check.ps1
        shell: pwsh
        run: ./ms-spotify-check.ps1
        env:
          Token: ${{ secrets.Token }}
