name: Version Check
on:
  repository_dispatch:
    types: [webhook-event]
    
concurrency:
  group: delayed-version-check
  cancel-in-progress: false    

jobs:
  version-search:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.search.outputs.versions }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Download latest loaderspot_cli_linux_x64
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download --repo ${{ github.repository }} --pattern "loaderspot-cli-linux-x64" --output loaderspot_cli
          chmod +x loaderspot_cli

      - name: Version search
        id: search
        if: github.event.client_payload.v && github.event.client_payload.s
        env:
          v: ${{ github.event.client_payload.v }}
          s: ${{ github.event.client_payload.s }}
        run: |
          {
            echo 'versions<<EOF'
            ./loaderspot_cli --version "$v" --connections 300 --ladder-search
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  get-build-and-send:
    runs-on: windows-latest
    needs: version-search
    if: success() && needs.version-search.outputs.versions
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get build info and send to GAS
        shell: pwsh
        env:
          GOOGLE_APPS_URL: ${{ secrets.GOOGLE_APPS_URL }}
          VERSIONS: ${{ needs.version-search.outputs.versions }}
          SOURCE: ${{ github.event.client_payload.s }}
        run: |
          ./check-build-version.ps1 -versions "$env:VERSIONS" -source "$env:SOURCE" -googleAppsUrl "$env:GOOGLE_APPS_URL"